@model IEnumerable<PizzaStore.Domain.Models.PizzaModel>

@{
  ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>
<hr/>
<div>
  <p>
    <a asp-controller="Order" asp-action="Home">Add Pizza</a> |
    <a asp-controller="Order" asp-action="Checkout">Go To Checkout</a>
  </p>
</div>
<table class="table">
    <th>Pizza</th>
        </tr>
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.Name)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Crust)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Size)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Price)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.Toppings)
          </th>
        </tr>
        @{var index = 0;}
        @foreach (var pizza in Model)
        {
          <tr>
            <td>
            @Html.DisplayFor(pizzaItem => pizza.Name)
            </td>
            <td>
            @Html.DisplayFor(pizzaItem => pizza.Crust.Name)
            </td>
            <td>
            @Html.DisplayFor(pizzaItem => pizza.Size.Name)
            </td>
            <td>
            @Html.DisplayFor(pizzaItem => pizza.Price)
            </td>
            
            @foreach (var t in pizza.Toppings)
            {
              <td>
                @Html.DisplayFor(item => t.Name)
              </td>
            }
            <td>
              <a asp-action="Edit" asp-route-id="@index">Edit</a> |
              <a asp-action="Delete" asp-route-id="@index">Delete</a>
            </td>
          </tr>
          index = index + 1;
        }
</table>