@model PizzaStore.Client.Models.PizzaViewModel

@{
  ViewData["Title"] = "PlaceOrder";
}
<h1>Make your pizza</h1>
<hr/>
@using (Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))  
{  
  foreach (var crust in @Model.Crusts)
  {
    <table>
      <tr>
        <td>
          @Html.RadioButtonFor(m => m.Crust, crust.Name)
        </td>
        <td>
          @Html.LabelFor(m => m.Crust, crust.Name)
          @Html.ValidationMessageFor(m => m.Crust)
        </td>
      </tr>
    </table>
  }
  @Html.DropDownListFor(m => m.Size, 
                      new SelectList(Model.Sizes), 
                      "Select Size");
  @Html.ValidationMessageFor(m => m.Size);

   for (var i = 0; i < Model.SelectedToppings.Count(); i++)  
   {  
   <table> 
      <tr>
          <td>  
            @Html.CheckBoxFor(it => it.SelectedToppings[i].IsSelected, new {Style ="vertical-            align:3px}"})  
         </td> 
         <td>  
            @Html.HiddenFor(it => it.SelectedToppings[i].Id)
            @Html.HiddenFor(it => it.SelectedToppings[i].Name)
            @Html.DisplayFor(it => it.SelectedToppings[i].Name)  
         </td>   
      </tr>  
   </table>  
  
   }  
  <input id="Submit" type="submit" value="Submit" class="btn btn-primary" />  
}  
<div>
  <a asp-action="Index">Go to Index Page</a>
</div>

<a href="/user/index">user homepage</a>
@Html.ActionLink("user page", "index", "user")
<a asp-controller="user" asp-action="index">user page</a>