@model PizzaStore.Client.Models.PizzaViewModel

@{
  ViewData["Title"] = "PlaceOrder";
}
<h1>Make your pizza</h1>

@* //////////////////////////////////////////////////////////////////// *@

<h2>1st way</h2>
@* html way *@
<form action="PlaceOrder" method="post">
  @Html.AntiForgeryToken()
  @foreach (var crust in @Model.Crusts)
  {   
      <input type="radio" name="crust" id="crust" value="@crust.Name"  data-val="true" />
      <label for="crust" id="crust" >@crust.Name</label>
      @Html.ValidationMessageFor(m => m.Crust)
      <br> // change my value
  }
  <select name="size" id="size">
    <option selected disabled>Select Size</option>
    @foreach (var size in @Model.Sizes)
    {
        <option id="size" value="@size.Name" >@size.Name</option>
    }
  </select>
  @Html.ValidationMessageFor(m => m.Size)
  <br>
  @foreach (var topping in @Model.Toppings)
  {
      <input type="checkbox" name="toppings" id="toppings" value="@topping.Name"> // change my value
      <label for="toppings">@topping.Name</label>
      @Html.ValidationMessageFor(m => m.SelectedToppings);
      <br>
  }
  <button type="submit">place order</button>
</form>

@* //////////////////////////////////////////////////////////////////// *@
@* html helper way *@
<br>
<h2>2nd way</h2>
@using(Html.BeginForm("PlaceOrder", "Order", null, FormMethod.Post))
{
  @Html.AntiForgeryToken();
  foreach (var crust in @Model.Crusts)
  {
      @Html.RadioButtonFor(m => m.Crust, crust.Name);
      @Html.LabelFor(m => m.Crust, crust.Name);
      @Html.ValidationMessageFor(m => m.Crust);
      @* <label for="name">@crust.Name</label> *@
      <br>
  }
  @Html.DropDownListFor(m => m.Size, 
                      new SelectList(Model.Sizes), 
                      "Select Size");
  @Html.ValidationMessageFor(m => m.Size);

  <br>
  foreach (var topping in Model.Toppings)
  {
      @Html.CheckBoxFor(m => m.SelectedTopping, new { name = "SelectedToppings", value = topping});
      <label for="name">@topping.Name</label><br>
  }
  <button type="submit">place order</button>
} 
@* //////////////////////////////////////////////////////////////////// *@

@* tag helper way *@
@* <h2>3rd way</h2>
<form asp-action="order/placeorder" method="post">
  @foreach (var crust in @Model.Crusts)
  {
      <input type="radio" asp-for="@Model.Crusts" value="@crust.Name"> // change my value
  }
  <select asp-for="@Model.Sizes">
    @foreach (var size in @Model.Sizes)
    {
        <option value="@size.Name">@size.Name</option>
    }
  </select>
  <button type="submit">place order</button>
</form> *@

